.nav-header{
  height : 67px;
  display: flex !important;
  align-items: center;
  margin-bottom: 15px;
}
.nav-header .logo img{
  height: 42px;
}
#homePage .navbar{
  margin: 0;
  color: #ffffff;
}
#homePage .profileIcon{
  font-size: 22px;
  width: 38px !important;
  height: 40px;
}
#homePage .setting{
  position: absolute;
  z-index: 2000;
  background-color: white;
  top: 70px;
  bottom: 0;
  left: 0;
  height: calc(100vh - 70px);
  box-shadow: 0 0 1px 1px #ccc;
  overflow-y: auto;
}

#homePage .setting-close, #homePage .settingPanel{
  display: none;
}
#homePage .setting-open{
  display: block;
}
#homePage .setting .panelHeading, .jobList .advanceFilter .panelHeading{
  padding:10px 15px;
  background-color: #edf5fa;
  color: #8e8d8d;
  border-bottom: 1px solid #b4b4b4;
  border-top: 1px solid #b4b4b4;
}
#homePage .setting ul, .jobList .advanceFilter ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#homePage .setting ul li, .jobList .advanceFilter ul li{
  padding:15px;
  border-bottom: 1px solid #b4b4b4;
  display: flex;
  font-size: 17px;
  justify-content: space-between;

}
.jobList .advanceFilter ul.sortfilter li{
  justify-content: flex-start;
}
.jobList .advanceFilter ul.sortfilter li input{

  margin-right: 15px;
  margin-top: 0;
}
.jobList p.location, .userProfile p.location{
  white-space: nowrap;
  text-overflow: ellipsis;
   overflow-x: hidden;
}
#homePage .setting .setting-update button, .jobList .advanceFilter .setting-update button{
  margin: 10px 5px;
}
#homePage .setting .panelHeading h3, .jobList .advanceFilter .panelHeading h3{
  display: flex;
  margin: 10px 0;
  font-size: 15px;
  justify-content: space-between;
}
#homePage .setting .notificationList{
/*display: flex;
justify-content: space-between;*/
padding: 10px 20px;
border-bottom: 1px solid #ccc;
}

#homePage .setting .notificationList:hover{
  background-color: #c4d3e9;
  outline: 0;
}
/*#homePage .setting .notificationList .notifyImg{
display: flex;
}*/
#homePage .setting .notificationList .notifyImg .pixDiv{
  width:45px;
  height:45px;
  margin-right: 10px;
  float: left;
}
#homePage .setting .notificationList .notifyImg .pixDiv img{
  width:45px;
  height:45px;
  border-radius: 10px;
}

#homePage .setting .notificationList .notifyImg .notifyDetail{
  display: flex;
  flex-direction: column;
}
#homePage .setting .notificationList .notifyImg .notifyDetail .notifydata-time{
  display: flex;
  justify-content: space-between;
}
#homePage .setting .notificationList .notifyImg .notifyDetail .notifydata{
  display: flex;
  flex-direction: column;
}
.mainNav a.filter{
  color: white;
  font-size:20px;
}
.mainNav nav.navbar-static-top{
  display: flex;
}
.mainNav nav .navbar-header{
  flex: 80;
  display: flex;
}
.mainNav nav .navbar-header button.navbar-toggle{
margin-left: 20px;
}
.mainNav nav .navbar-header button.navbar-toggle .icon-bar{
  border: 1px solid white;

}
.mainNav nav .navbar-header .navbar-form-custom {
  float: left;
  width: 40%;

}
.mainNav a.filter i.true{
  transform: rotate(180deg);
  transition: all .8s;
}
.mainNav a.filter i.false{
  transform: rotate(0deg);
  transition: all .8s;
}
.mainNav a.filter:hover{
  color: white;
}
.resetpassword{
  margin-top: 30px
}
.mainNav .navigation-bar ul.pull-right{
  margin-right: 20px;
}

.jobList .myjob-image div, .userProfile .myjob-image div{
  padding-left: 0;
  padding-right: 0;
}
.jobList .createJob{
  box-shadow: 0 0 2px 2px #dadada;
  padding: 10px;
  border-radius: 4px;

}
.jobList .myjob-image .titleDiv, .userProfile .myjob-image .titleDiv{
  display: flex;
}
.jobList .myjob-image .titleDiv .picDiv, .jobList .myjob-image .titleDiv .picDiv img, .userProfile .myjob-image .titleDiv .picDiv, .userProfile .myjob-image .titleDiv .picDiv img{
  width:40px;
  height: 40px;
}
.jobList .myjob-image div.padding, .userProfile .myjob-image div.padding{
  padding-bottom: 10px;
}
.jobList .myjob-image div.padding h4, .jobList .myjob-image div.padding p, .userProfile .myjob-image div.padding h4, .userProfile .myjob-image div.padding p{
  margin: 0px 0 3px 5px;
}
.jobList img.img-rounded{
  width:100%;
}
.Detail input[type='radio'], .jobList .filterDiv input[type='radio']{
  margin-right: 10px;
}
.Detail input[type='radio']:after, .jobList .filterDiv input[type='radio']:after, .jobList .advanceFilter input[type='radio']:after{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: -2px;
  left: -5px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ccc;
}
.skillList input[type='checkbox']:after, .setting input[type='checkbox']:after, .jobList .advanceFilter input[type='checkbox']:after{
  width: 20px;
  height: 20px;
  top: -4px;
  left: -4px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ccc;
}
.image img.view{
  margin: 0 auto;
}
.skillList input[type='checkbox']:checked:after, .setting input[type='checkbox']:checked:after, .jobList .advanceFilter input[type='checkbox']:checked:after{
  width: 20px;
  height: 20px;
  top: -4px;
  left: -4px;
  position: relative;
  background-image: url(../images/checked.png);
  background-size: 15px 16px;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ccc;
}
.skillList button{
  border-radius: 6px;
}
.Detail .btn-bs-file{
  background-image: url(../images/plus.png);
  width: 75px;
  height: 75px;
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
}
.profile-update .btn-bs-file{
  background-image: url(../images/edit.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}
.profile-update .profilebtn{
  margin-top: 20px;
}
.Detail .btn-bs-file:active, .profile-update .btn-bs-file:active{
  box-shadow: unset;
}
.Detail h3.parts{
  margin-top: 30px;
}
.Detail .pixContainer{
  padding: 10px 0;
  max-width: 320px;
  display: -webkit-inline-box;
  overflow-x: auto;
  margin-top: 5px;
}
.Detail .pictureBox{
display: flex;
position: relative;
justify-content: space-between;
align-items: center;
}
.Detail .partField{
  margin-top: 10px;
  display: flex;
}
.Detail .partField .form-group{
  flex: 80;
}
.Detail .partField a.partInc{
  width: 25px;
  height: 25px;
  border: 1px solid #337ab7;
  border-radius: 100%;
  text-align: center;
  line-height: 25px;
}
.Detail .partImage{
  width:50px;
  height: 50px;
}
.Detail .pictureBox p.oversize{
  position: absolute;
  top: -10px;
  left: -15px;
}
.Detail .jobPix{
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 10px 2px;
  position: relative;
}
.Detail .jobPix i{
  position: absolute;
  right: -3px;
  top: -18px;
  cursor: pointer;
}

.Detail .btn-bs-file input[type="file"]{
  position: absolute;
  /*top: -9999999;/\*/
  /*filter: alpha(opacity=0);*/
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  cursor: inherit;
}
.profile-update .btn-bs-file input[type="file"]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  cursor: inherit;
  right: 2px;
  top:1px
}
 .Detail input[type='radio']:checked:after,.jobList .filterDiv input[type='radio']:checked:after, .jobList .advanceFilter input[type='radio']:checked:after{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: -2px;
  left: -5px;
  position: relative;
  background-color: #86ca2d;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ccc;
}

.jobList .filterDiv h3{
  padding: 15px;
  background-color: #EDF5FA;
  color: #999999;
  font-weight: 100;
  display: flex;
  border-top:2px solid #ddd;
  border-bottom:2px solid #ddd;
  justify-content: space-between;
}

.jobList .advanceFilter{
  z-index: 1000;
  background-color: white;
  height: calc(100vh - 70px);
  box-shadow: 0 0 1px 1px #ccc;
  overflow-y: auto;
}

.jobList .budgetFilter, .jobList .distanceFilter{
  width:100%;
}


.sideNav{
  background: #2b405a;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3500;
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.spinner{
  display: block;
  margin: 0 auto;
  width: 70px;
}
.landing-page-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 22vh;
  top: 0;
}
.jobspinner{
  z-index: 20000;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
  align-items: center;
}
.setting .settingLoader, .jobList .advanceFilter .settingLoader{
 position: absolute;
 width: 100%;
}
.setting .settingLoader .loader, .jobList .advanceFilter .settingLoader .loader{
  border: 1px solid #ccc;
  border-radius: 4px;
}
.dialogSpinner .loader{
  position: absolute;
  border: 1px solid #fdf3f3;
  border-radius: 8px;
  top: 35%;
}

.spinner_two{
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.2);
  padding: 11px;
  border-radius: 5px;
}
.hamburger{
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  color: white;
  border: 0;
  display: none;
}
.mainNav{
  outline: 0;
  padding: 0;
  cursor: auto;
  background-color: #f3f3f4;
}
.jobDetailpage{
  padding: 0 15px;
}
.jobContent{
  padding: 20px 35px 45px;
}
.jobList, .jobList .wrapper-content{
  padding: 0;
}


#homePage .full-height{
  height: 100vh;
}
#homePage .spinner{
  height: 68vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.spinner img{
  width: 70px;
  height: 70px;
}
.jobList h3{
  margin: 0;
}
.myjobs-list{
  padding: 0;
  margin-right: -10px;
  margin-left: -10px;
}
.rz-ceil{
  right:0;
  display: flex !important;
  justify-content: flex-end !important;
}
.rz-pointer:focus{
  outline: 0;
}
#homePage .absoluteLoader .spinner{
  position: absolute;
  z-index: 1000;
  left: calc(52% - 50px);
  top: 50%;
  border: 1px solid #ccc;
  width: inherit;
  height: unset;
}
.userProfile .myjobs-list{
  margin: 0;
}
.myjobs-list div.jobDiv{
  padding: 10px;
}
.jobList div.myjob-bg, .userProfile div.myjob-bg{
  height: 250px;
}
.angular-input-stars > li, .angular-input-stars > li i.readonly{
  cursor: auto;
  padding: 0 2px;
}
.angular-input-stars > li i.readonly:focus{
  outline: 0;
}
.reviewRate .angular-input-stars{
  display: block;
  text-align: center;
}
.reviewRate .angular-input-stars li i{
font-size: 30px;
}
.reviewRate .angular-input-stars li i:focus{
  outline: 0;
}
.jobList div.myjob-bg img, .userProfile div.myjob-bg img{
  width: 100%;
  height: 100%;
}
.jobList div.myjob-image, .userProfile div.myjob-image{
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.jobList h4, .userProfile h4{
  color: black;
  margin: 10px 0 5px 0;
}
.jobList h4.status, .userProfile h4.status{
  color: #46c049;
}
.jobList p{
  color: black;
  margin: 0 0 10px;
  font-size: 13px;
}


@media only screen and (max-width:550px){
  .myjobs-list div.jobDiv {
    width: 100%;
  }
}













/*Login pge---------------------------------------------------------------*/

.loginPage .bgImage{
  background-image: url("../images/banner-login.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.loginPage .loginDiv{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loginPage .loginDiv .loginForm{
  margin: 5.6em 20px;
}
.loginPage .loginDiv .loginForm .forgetPassword{
  margin-bottom: 16px;
}
.loginPage .loginDiv .loginForm .forgetPassword a{
  color: #fff;
}
.loginPage .loginDiv .loginForm input{
  border: 0;
  outline: 0;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #e5e6e7 !important;
}
.loginPage .loginDiv .loginForm .form-group{
  margin-bottom: 25px;
}
.loginPage .loginDiv .loginForm button{
  background-color: rgba(153, 153, 153, 0.5);
}
.loginPage h2{
  text-align: center;
  word-spacing: 1px;
  letter-spacing: .4px;
  font-weight: 200;
  padding: 0 20px;
  width: calc(15em + 4%);
}
.loginPage .loginDiv .loginForm .loginButton{
  margin-top: 65px;
}
.loginPage .loginDiv .signupLink{
  position: absolute;
  bottom: 30px;
  right: 50px;
}
.loginPage .loginDiv .signupLink a{
  color: #fff;
}
.loginPage .loginDiv .socialLogin{
  margin-top: 27%;
}
.socialIcons{
  display: flex;
  justify-content: space-evenly;
}
.loginPage .socialIcons div{
  width: 65px;
  cursor: pointer;
}

.loginPage .socialIcons div img{
  width: 100%;
}
.loginPage .socialIcons div:focus{
  outline: none;
}
.loginWith{
  margin: 35px 0;
}
.socialIcons div i{
  color: #000;
}

/*home menu---------------------------------------------------------------*/
.homePage{
  height: 100vh;
  /*overflow: hidden;*/
}
.homeMenu{
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
p.valid{
  position: absolute;
  margin-top: 5px;
}

.sidenav {
  padding-top: 3%;
}
.sidenav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidenav a{
  padding: 27px;
  text-decoration: none;
  font-size: 22px;
  color: #000;
  display: block;
  transition: 0.3s;
  text-align: center;
  font-weight: 500;
}
i.bar{
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  color: white;
  background: none;
  font-size: 30px;
}
.fa-close{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
  color: #c1c1c1;
  display: none;
}
.fa-close:focus, i.bar:focus{
  outline:0
}
/*button.bar:active, button.bar:hover, button.bar:focus{*/
/*box-shadow: none;*/
/*color: #fff;*/

/*}*/
/*.sidenav a:hover, .offcanvas a:focus{*/
/*color: #f1f1f1;*/
/*}*/

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#mySidenav .logo{
  padding: 20px 0;
  border-bottom: 2px solid lightgray;

}

#mySidenav .logo img{
  display: block;
  margin: 0 auto;
  width: 250px;
}

#mySidenav .search form{
  padding: 8px 30px;
  border-bottom: 2px solid lightgray;
}
#mySidenav .search form input{
  background-image: url(../images/search-icon-home.png);
  display: block;
  outline: 0;
  border: 0;
  color: #888888;
  width: 100%;
  padding: 10px;
  font-size:20px;
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
}
::-webkit-input-placeholder{
  color: #fff !important;
}
::-moz-placeholder {
  color: #fff !important;
}
#mySidenav .search form input::-webkit-input-placeholder, form.loginPopup input::-webkit-input-placeholder{
  color: #888888 !important;
}
#mySidenav .search form input::-moz-placeholder, form.loginPopup input::-moz-placeholder{
  color: #888888 !important;
}

#mySidenav .socialIcons{
  padding: 20px 50px;
}
#mySidenav .socialIcons a{
  padding: 0;
}
#mySidenav ul li.active a{
  color:#52ba60 !important;
}
#mySidenav .socialIcons .facebook{
  background-color: #3b5998;
}
#mySidenav .socialIcons .twitter{
  background-color: #00aced;
}
#mySidenav .socialIcons .google{
  background-color: #d34836;
}
#mySidenav .socialIcons div{
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  border-radius: 100%;
  line-height: 50px;
  font-size: 22px;
}
#mySidenav .socialIcons i{
  color: #fff;
}
#mySidenav p{
  text-align: center;
  color: gray;
}



/*Signup Page-------------------------------------------*/

.forgetPage .bgImage{
  background-image: url("../images/forget-banner.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.contactPage .bgImage{
  background-image: url("../images/contact-banner.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.contactPage .contactAddress{
  margin-top: 50px;
}
.contactPage .contactBtn{
  margin: 25% 0;
}
.contactPage .contactDiv .contactForm .form-group{
  margin-bottom: 22px;
}
.newsletterPage .bgImage{
  background-image: url("../images/newsletter-banner.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.signupPage .bgImage{
  background-image: url("../images/banner-signup.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.signupPage .signupDiv, .forgetPage .forgetDiv, .newsletterPage .newsDiv, .contactPage .contactDiv{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.newsletterPage .newsDiv{
  justify-content:space-evenly;
}
.signupPage .signupDiv .signupForm, .forgetPage .forgetDiv .forgetForm, .newsletterPage .newsDiv .newsForm, .contactPage .contactDiv .contactForm{
  margin: 5px 20px;
}

.signupPage .signupDiv .signupForm .form-control, .forgetPage .forgetDiv .forgetForm .form-control, .newsletterPage .newsDiv .newsForm .form-control, .contactPage .contactDiv .contactForm .form-control{
  border: 0;
  outline: 0;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #e5e6e7 !important;
}
.signupPage .signupDiv .signupForm .form-group{
  margin-bottom: 25px;
}
.forgetPage .forgetDiv .forgetForm .form-group, .newsletterPage .newsDiv .newsForm .form-group{
  margin-bottom: 30%;
}
.signupPage .signupDiv .signupForm button, .forgetPage .forgetDiv .forgetForm button ,.newsletterPage .newsDiv .newsForm button, .contactPage .contactDiv .contactForm button{
  background-color: rgba(153, 153, 153, 0.5);
}

.uploadPicture{
  overflow: visible;
}
.uploadPicture .btn-bs-file{
  position: relative;
  background-image: url(../images/add-photo.png);
  width: 120px;
  height: 120px;
  background-size: 120px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 0;
}

.signupPage .profile-pic{
  width:150px;
  height:150px;
}
.profile-update .profile-pic{
  width: 160px;
  height: 160px;
  border: 1px solid #b7b7b7;
  border-radius: 100%;
  margin: 5px auto;
  position: relative;
}
.profile-update .profile-pic img{
  border-radius: 100%;
  width: 100%;
  height: 100%;

}

.signupPage .uploadPicture .btn-bs-file input[type="file"] {
  position: absolute;
  /*top: -9999999;/\*/
  /*filter: alpha(opacity=0);*/
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  cursor: inherit;
}
.signupPage .uploadPicture p{
  position: absolute;
  bottom: -50px;
  color: #fff !important;
  text-align: center;
  left: 30%;
  font-weight: 600;
}
.signupPage .uploadPicture p.uploaded{
  left: 0;
}

.signupPage .nameBox{
  margin-top: 128px;
}
.signupPage .signupButton{
  margin-top: 25px;
}

.pinSpinner{
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  z-index: 2000;
}
.signupPage .checkUser{
  display: flex;
  justify-content: space-between;
}
/*addjobpopup-----------------------*/

.jobCategory, .biddingBox,.profile-update{
  margin: -15.4px;
}
.jobCategory .row{
  margin: 0;
}
.biddingBox .row, .profile-update .row{
  margin: 0;
  padding: 15.4px;
}

.biddingBox button{
  background-color: #b8cce8;
  color: #426fb6;
  border-color: #426fb6;
}
.biddingBox button[disabled]{
  color: white;
}
.jobCategory img.img-responsive{
  display: block;
  max-width: 100%;
  height: 100px;
  width: 100%;
  border-radius: 8px;
}
.jobCategory img.img-responsive:focus{
  border-radius: 0;
}
.jobCategory .categoryback{
  display: flex;
  padding: 15.4px;
}
.jobCategory .category h3, .biddingBox h3, .profile-update h3{
  padding: 15.4px;
  margin: 0;
}
.jobCategory .categoryback h3{
  margin: 0;
}
.jobCategory .categoryback a{
  flex: 0;
  color: #000;
}
.jobCategory .categoryback h3{
  flex: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.biddingBox hr, .profile-update hr{
  margin: 0;
  border-top-color: #b7b7b7;
}
.jobCategory .category hr{
  margin-top: 0;
  border-top-color: #b7b7b7;
}
.jobCategory .services hr{
  margin: 0;
  border-top-color: #b7b7b7;
}
.jobCategory .pointer{
  cursor: pointer;
  padding: 0 12px;
}
.jobCategory .serviceList{
  padding: 0;
}
.jobCategory p{
  padding: 0 15px;
}
.jobCategory .serviceList hr{
  margin:0;
  border-top-color: #b7b7b7;
}
.jobCategory .serviceList li{
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #b7b7b7;
}
.jobCategory .serviceList li:focus{
  outline:0
}
.jobCategory .category .pointer h4{
  margin: 15px 0;
}
.jobCategory .serviceList li span{
  flex: 100;
  color: black;
}

.jobCategory .serviceList li a{
  color: #000;
  flex: 0;
}

.ngdialog-close{
  top:-50px !important;
  background-color: #f0f0f0 !important;
  border-radius: 100% !important;
  outline: none;

}
.ngdialog-close:before{
  font-weight: 600 !important;
  color: #000 !important;
}
.addjobPopup .ngdialog-content{
  width:850px !important;
}
.bidPopup .ngdialog-content,.bidPopup .ngdialog-content .ngdialog-close, .addPopup .ngdialog-content,.addPopup .ngdialog-content .ngdialog-close, .addjobPopup .ngdialog-content,.addjobPopup .ngdialog-content .ngdialog-close{
  background-color: #fff !important;
}

.profile-update .form-group input, .profile-update .form-group textarea, .startjob .form-group input, .Detail .form-group input, .Detail .form-group textarea, .biddingBox .form-group input, .biddingBox .form-group textarea{
  border: none;
  border-bottom: 1px solid #e5e6e7;
}
.Detail .nav-tabs li.active{
  background-color: #426fb6;
  border-left:none;
}
.Detail .nav-tabs li.active a{
  color: #fff;
  border:none !important;
}
.Detail .nav-tabs li:first-child{
  border-left: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.Detail .nav-tabs li:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.Detail .nav-tabs li{
  width: 33.333%;
  border-left: 1px solid #999;
}
.Detail .full-width{
  width: 100%;
}
.Detail .tab-content div.active{
  display: block;
}
.Detail .tab-content .tab-pane .col-lg-4:last-child{
  width: 150px;
}
.nojobMessgae{
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  color: #656a6f;
}
.toggle.btn {
  height: 25px !important;
  width:40px !important;
  min-width: 40px !important;
  min-height: 25px !important;
}
.toggle .toggle-group label{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.Detail .nav-tabs{
  border: 1px solid #999;
  border-radius: 8px;
}
.angular-google-map-container{
  height: 300px;
}
.Detail .nav-tabs a{
  font-weight: 100;
  background-color: transparent;
  margin: 0;
  border:none;
  text-align: center;
}
.Detail .location, .Detail .tab-content, .Detail #contract .col-lg-12{
  padding: 15px 0;
}

.Detail #contract .col-lg-4{
  padding-top: 5px;
  padding-bottom: 20px;
}
.Detail .jobSubmitBtn{
  padding: 10px 0;
  background-color: #b8cce8;
  color: #426fb6;
  font-weight: 600;
  border: 2px solid #426fb6;
  margin-top: 55px;
  margin-bottom: 10px;
}
.Detail .btn-primary[disabled]:hover{
  background-color: #e7eaec;
  border-color: #426fb6;
}
.Detail .part_validation{
  position: absolute;
  right:0;
  background: #999999;
  color: white;
  border-radius: 3px;
}
.Detail .location-message, .profile-update .location-message{
  position: absolute;
  right: 9px;
  top: 9px;
  padding: 4px;
  background: #999999;
  color: white;
  border-radius: 3px;
}
.Detail .form-group ::-webkit-input-placeholder, .biddingBox .form-group ::-webkit-input-placeholder{
  color: #444 !important;
}
.Detail .form-group ::-moz-placeholder, .biddingBox .form-group ::-moz-placeholder{
  color: #444 !important;
}
.jobDetailpage .form-group ::-webkit-input-placeholder, .startjob .form-group ::-webkit-input-placeholder,.profile-update .form-group ::-webkit-input-placeholder{
  color: #444 !important;
}
.jobDetailpage .form-group ::-moz-placeholder, .startjob .form-group ::-moz-placeholder,.profile-update .form-group ::-moz-placeholder{
  color: #444 !important;
}
.jobDetailpage .page-heading{
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 10px;
  padding: 5px 16px;
  align-items: center;
}
.jobDetailpage .adminRejected{
  display: inline-block;
  margin-bottom: 5px;
}
.jobDetailpage .commmt_time span.glyphicon{
  color: #426fb6;
  border: 1px solid #426fb6;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  text-align: center;
}
.jobDetailpage .commmt_time span.glyphicon:focus{
  outline: 0;
}
.jobDetailpage .page-heading h2,.jobDetailpage .page-heading .jobEdit button{

  margin: 0;
  margin-right: 15px;
}
.jobDetailpage .page-heading .jobEdit{
  display: flex;
  /*width: 200px;*/
}

.jobDetailpage .page-heading .jobEdit .btn-circle{
  color: #426fb6;
  background: none;
  border: 1px solid #426fb6;
}
.jobDetailpage .jobDetailtab .nav-tabs li a{
  border: 1px solid #ddd;
  margin: 0;
}
.jobDetailpage .jobDetailtab .nav-tabs li.active a, .userProfile .tabs-container .nav-tabs li.active a{
  background-color: #b8cce8;
  color: #426fb6;
  margin: 0;
  border: 1px solid #426fb6;
}
.userProfile .tabs-container .count{
  font-size: 24px;
}
.userProfile .fa-map-marker{
color:#86ca2d;
}
.userProfile .tab-content{
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.jobDetailpage .widget-job-awarded{
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 15px;
}
.jobDetailpage #widget-one .col-md-6{
  padding: 5px 15px;
}
.jobDetailpage .widget-job-awarded img{
  border-radius: 5px;
}
.jobDetailpage .widget-job-awarded .openjob{
  color:#f8ac59;
  position: absolute;
  left: 15px;
  top: 27px;
}
.jobDetailpage .Openjob, .jobDetailpage .Openjob:hover{
  background-color:#f8ac59;
}

.jobDetailpage .widget-job-awarded .awardedjob, .jobDetailpage .widget-job-awarded .ongoingjob{
  color:  #426fb6;
  position: absolute;
  left: -5px;
  top: 27px;
}
.jobDetailpage .widget-job-awarded .ongoingjob{
  width:62px;
}
.jobDetailpage .widget-job-awarded .awardJob, .jobDetailpage .widget-job-awarded .awardJob:hover{
background-color: #426fb6;
}

.jobDetailpage .widget-job-awarded .bidplaced{
  color: #f8ac59;
  position: absolute;
  left: 12px;
  top: 32px;
  width: 70px;
}
.jobDetailpage .widget-job-awarded .completejob{
  color:  #86ca2d;
  position: absolute;
  left: -40px;
  top: 27px;
}
.jobDetailpage .widget-job-awarded .indispute{
  color:  rgb(208,53,74);
  position: absolute;
  left: -40px;
  top: 27px;
}
.jobDetailpage .widget-job-awarded .completeJob, .jobDetailpage .widget-job-awarded .completeJob:hover{
  background-color:  #86ca2d;
}
.jobDetailpage .widget-job-awarded .Indispute, .jobDetailpage .widget-job-awarded .Indispute:hover{
  background-color:  rgb(208,53,74);
}
.editjobComment .form-group textarea{
  border: none;
  border-bottom: 1px solid #e5e6e7;
}
.editjobComment .form-group ::-webkit-input-placeholder, .message-chat .form-group ::-webkit-input-placeholder{
  color: #444 !important;
}
.editjobComment .form-group ::-moz-placeholder, .message-chat .form-group ::-moz-placeholder{
  color: #444 !important;
}
.message-chat .messagelistBack{
display: none;
}
.jobDetailpage .widget-box{
  display: flex;
  padding-right: 0;
  flex-direction: column;
  cursor: auto;
}
.jobDetailpage .widget-box .tab-content{
  margin-top: 10px;
}

@media only screen and (min-width: 767px){

  .uploadPicture{
    width: 120px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -70px !important;
  }
  .signupButton {
    position: fixed;
    bottom: 35px;
  }
}
@media only screen and (max-width: 1199px){
  .jobDetailpage .widget-box {
    padding: 0;
  }
  .homeMenu{
    display: none;
  }
  i.bar{
    display: block;
  }
  .fa-close{
    display: block;
  }
  div.display{
    width: 25em;
    display: block;
  }
  div.display-not{
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .message-chat .con-display {
    display: block;
  }

  .message-chat .messagelistBack{
    display: inline-block;
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .signupPage .bgImage{
    height: 100% !important;
  }
}
