
<div class="setting col-md-3 no-padding">

  <page-loader ng-if="vm.loadSetting" class="settingLoader"></page-loader>

  <div class="panelHeading">
    <h3><span>EMAIL ALERTS</span> <i class="fa fa-angle-down"></i></h3>
  </div>
  <ul>
    <li><span>New Related Jobs </span> <input type="checkbox" value="" ng-model="vm.set_email.related_jobs"></li>
    <li><span>Job Status </span><input type="checkbox" value=""  ng-model="vm.set_email.jobStatus"></li>
    <li><span>New Review </span><input type="checkbox" value="" ng-model="vm.set_email.new_review"></li>
    <li><span>New Message </span> <input type="checkbox" value="" ng-model="vm.set_email.new_message"></li>
  </ul>
  <div class="panelHeading">
    <h3><span>PUSH NOTIFICATIONS</span> <i class="fa fa-angle-down"></i></h3>
  </div>
  <ul>
    <li><span>New Related Jobs </span> <input type="checkbox" value="" ng-model="vm.set_notify.related_jobs"></li>
    <li><span>Job Status </span><input type="checkbox" value="" ng-model="vm.set_notify.jobStatus"></li>
    <li><span>New Review </span><input type="checkbox" value="" ng-model="vm.set_notify.new_review"></li>
    <li><span>New Message </span> <input type="checkbox" value="" ng-model="vm.set_notify.new_message"></li>
  </ul>
  <div class="text-right setting-update">
  <button class="btn btn-primary btn-rounded" ng-click="vm.updateSetting()">Update</button>
  </div>
</div>
