<page-loader ng-if="pageLoader"></page-loader>

<div class="jobDetailpage">
  <div class="wrapper-content" ng-if="vm.job.title && !pageLoader">
    <div class="col-lg-12 col-lg-12 wrapper white-bg page-heading">
  <div class="jobEdit">
    <h2 class="text-bold">{{vm.job.title}}</h2>
    <button ng-if="vm.userData.user_type == 1 && vm.job.status == 1" type="button" class="btn btn-circle" ng-click="vm.editJob(vm.job)"><i class="glyphicon glyphicon-pencil"></i></button>
    <button ng-if="vm.userData.user_type == 1 && vm.job.status == 1" type="button" class="btn btn-circle" ng-click="vm.deleteJob(vm.job.id)"><i class="glyphicon glyphicon-trash"></i></button>
  </div>
  <div class="text-right">
    <b>AED {{vm.job.budget}}</b>
    <p>Estimated Budget</p>
  </div>
</div>

      <div class="col-lg-12 no-padding">
        <div class="col-lg-8 no-padding">
          <div class="tabs-container jobDetailtab">
            <ul class="nav nav-tabs text-center">
              <li class="no-padding active" ng-class="vm.tabwidth"><a data-toggle="tab" data-target="#tab-1" aria-expanded="true"> Details</a></li>
              <li class="no-padding" ng-class="vm.tabwidth" ng-if="vm.userData.user_type == 1" ng-click="vm.getBidList()"><a data-toggle="tab" data-target="#tab-2" aria-expanded="false">Bids</a></li>
              <li class="no-padding" ng-class="vm.tabwidth" ng-click="vm.getComment('', '')"><a data-toggle="tab" data-target="#tab-3" aria-expanded="false">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                  <div class="panel_parag">
                    <h3>Description</h3>
                    <p>
                     {{vm.job.description}}
                    </p>
                  </div>
                  <div class="panel_media" ng-if="vm.job.images.length">
                    <h3>Media</h3>
                    <ul class="list-unstyled panel_img">
                      <li ng-repeat="image in vm.job.images">
                        <a>
                          <img ng-src="{{image.url}}" alt="user" class="image">
                        </a>
                        <div class="middle">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                      </li>
                      <div class="middle">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </div>
                      </li>
                    </ul>
                  </div>

                  <div class="panel_location">
                    <div class="locat_heading">
                      <h3>Location</h3>
                      <span>Business Bay, Dubai</span>
                    </div>
                    <div id="map_canvas" class="location">
                      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                      </ui-gmap-google-map>
                    </div>
                  </div>
                  <div class="panel_aditional" ng-if="vm.job.additional_info">
                    <h3>Additional info</h3>
                    <p>
                      {{vm.job.additional_info}}
                    </p>
                  </div>
                </div>
              </div>
              <div id="tab-2" class="tab-pane">
                <div class="panel-body bids_section">
                  <div class="row">
                    <div class="col-md-6" ng-repeat="bid in vm.userBid.bids">
                      <div class="ibox-content">
                        <div class="inbox-text">
                          <div class="bid_btn" ng-if="vm.job.status == 1">
                            <button class="btn btn-primary" ng-click="vm.acceptBid(bid)">Accept</button>
                          </div>
                          <img ng-if="!bid.user.profile_pic.url" src="images/user.jpg" alt="user" class="img-responsive">
                          <img ng-if="bid.user.profile_pic.url" ng-src="{{bid.user.profile_pic.url}}" alt="user" class="img-responsive">
                          <div class="bid_text">
                            <strong>{{bid.user.name}}</strong><br>
                            <strong>AED {{bid.budget}}</strong>
                            <div class="rating_star">
                              <input-stars max="5" readonly="true" ng-model="bid.user.average_rating"></input-stars>
                            </div>
                          </div>
                        </div>

                        <p>{{bid.description}}</p>
                      </div>
                    </div>
                    <p class="text-center" ng-if="vm.userBid.bids && !vm.userBid.bids.length">No bids are found against this job</p>

                  </div>
                </div>
              </div>
              <div id="tab-3" class="tab-pane">
                <div class="panel-body commt_section">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="coment_sect">
                       <form  novalidate ng-submit="vm.insertComment()" name="commentForm">
                         <div class="form-group">
                           <textarea class="form-control" required rows="5" ng-model="vm.comment.body" placeholder="Add Comments..." name="comment"></textarea>

                         </div>
                         <div class="text-right">
                           <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Add</button>
                         </div>
                       </form>
                      </div>
                    </div>
                  </div>
                  <div class="row" ng-if="vm.userComment.length">
                    <div class="col-md-12" ng-repeat="commenter in vm.userComment">
                      <div class="coment_sect">
                        <img ng-if="!commenter.user.pic_url" src="images/user.jpg" alt="user" class="img-responsive">
                        <img ng-if="commenter.user.pic_url" ng-src="{{commenter.user.pic_url}}" alt="user" class="img-responsive">
                        <div class="comnt_text">
                          <strong>{{commenter.user.name}}</strong><br>
                          <span>{{commenter.body}}</span>
                          <div class="commmt_time">
                            {{commenter.created_at | date: 'MMM d, h:mm a'}}

                            <span ng-click="vm.editComment(commenter)" class="glyphicon glyphicon-pencil"></span>
                            <span ng-click="vm.deleteComment(commenter.id)" class="glyphicon glyphicon-trash"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 widget-box">
            <div class="widget-job-awarded col-lg-12">
              <div>
                <h5 ng-if="vm.userData.user_type == 1" class="m-b-md">Awarded to</h5>
                <h5 ng-if="vm.userData.user_type == 2" class="m-b-md">Posted By</h5>
                <img ng-if="!vm.job.user.pic_url" src="images/user.jpg" alt="user" width="29px" height="29px" class="img">
                <img ng-if="vm.job.user.pic_url" ng-src="{{vm.job.user.pic_url}}" alt="user" width="29px" height="29px" class="img">
                <span ng-if="vm.userData.user_type == 2">{{vm.job.user.name}}</span>
                <span ng-if="vm.userData.user_type == 1 && vm.job.status == 1">Katherine Doyle</span>
              </div>
              <div class="text-right">
                <span class="widget_text"> 23March,2017 </span>
                <ul class="border_widg nav nav-tabs">
                  <li ng-if="vm.open = (vm.job.status == 1)?'Openjob':'o'">
                    <a class="widget_border" ng-class="vm.open"></a>
                    <span ng-if="vm.job.status == 1" class="openjob">Open</span>
                  </li>
                  <li ng-if="vm.awardJob = (vm.job.status == 2 || vm.job.status == 3)?'awardJob':'a'">
                    <a class="widget_border" ng-class="vm.awardJob"></a>
                    <span ng-if="vm.job.status == 2 || vm.job.status == 3" class="awardedjob">Awarded</span>
                  </li>
                  <li>
                    <a class="widget_border widget_border3" ng-if="vm.completeJob = (vm.job.status == 4)?'completeJob':'c'"></a>
                    <span ng-if="vm.job.status == 4" class="completejob" ng-class="vm.completeJob">Completed</span>
                  </li>
                </ul>
              </div>
            </div>
           <div class="tab-content">
            <div id="widget-one" class="tab-pane active">
              <div class="col-lg-12 no-padding">
                <div class="Nopadding-left col-md-6">
                  <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                      <span>Completed on</span>
                      <h1 class="m-xs">15 July 2017</h1>
                    </div>
                  </div>
                </div>
                <div class="Nopadding-right col-md-6">
                  <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                      <span>Completed on</span>
                      <h1 class="m-xs">15 July 2017</h1>
                    </div>
                  </div>
                </div>
                <div class="Nopadding-left col-md-6">
                  <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                      <span>Start Code</span>
                      <h1 class="m-xs" ng-if="vm.job.status > 1">{{vm.job.start_code}}</h1>
                      <h1 class="m-xs" ng-if="vm.job.status == 1"> -- </h1>
                    </div>
                  </div>
                </div>
                <div class="Nopadding-right col-md-6">
                  <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                      <span>Completed on</span>
                      <h1 class="m-xs">15 July 2017</h1>
                    </div>
                  </div>
                </div>
                <div class="no-padding col-md-12 widget_btn">
                  <button class="btn btn-primary btn-rounded btn-block widget_compl">Go To Conversation</button>
                  <button ng-if="vm.userData.user_type == 2 && vm.job.status == 2" class="btn btn-primary btn-rounded btn-block widget_revi" ng-click="vm.jobCode()">Start</button>
                  <button ng-if="vm.userData.user_type == 2 && vm.job.status == 1 && !vm.job.my_bid" class="btn btn-primary btn-rounded btn-block widget_revi" ng-click="vm.insertBid()">Bid</button>
                  <button ng-if="vm.userData.user_type == 2 && vm.job.status == 1 && vm.job.my_bid" class="btn btn-primary btn-rounded btn-block widget_revi" ng-click="vm.viewBid()">View Bid</button>
                </div>
              </div>
            </div>


          </div>



        </div>

      </div>






  </div>
</div>
