<page-loader ng-if="pageLoader"></page-loader>

<div  class="jobList">
<div class="wrapper-content">

  <filter-panel ng-if="vm.userData.user_type == 1 && vm.showfilter && !pageLoader"></filter-panel>
  <advance-filter ng-if="vm.userData.user_type == 2 && vm.showfilter && !pageLoader"></advance-filter>

  <div class="jobContent animated" ng-class="vm.jobContent">
  <div class="col-lg-12 wrapper white-bg page-heading"  ng-if="!pageLoader">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
      <h3 ng-if="vm.userData.user_type == 1"><a class="text-bold createJob" ng-click="vm.addJob()"><i class="fa fa-plus" aria-hidden="true"></i> New Job</a></h3>
      <h3 ng-if="vm.userData.user_type == 2 && vm.toggle"><a class="text-bold createJob" ng-click="vm.allJobs()"> All Jobs</a></h3>
      <h3 ng-if="vm.userData.user_type == 2 && !vm.toggle"><a class="text-bold createJob" ng-click="vm.getJobs('', '')">My Jobs</a></h3>
    </div>
    <div class="col-lg-6 col-lg-6 col-md-6 col-sm-6">
      <h3>{{vm.jobHeading}}</h3>
    </div>
  </div>


  <div ng-if="vm.jobs.length && !pageLoader" class="row myjobs-list">
    <div class="jobDiv col-md-6 col-sm-6 col-xs-6" ng-class="vm.jobsCard" ng-repeat="job in vm.jobs">
      <a ng-click="vm.jobDetail(job.id)">
        <div class="list-holder">
          <div class="myjob-image">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 titleDiv">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 picDiv">
                  <img ng-if="job.user.profile_pic" ng-src="{{job.user.profile_pic.url}}" class="img-rounded">
                  <img ng-if="!job.user.profile_pic && job.user.pic_url" ng-src="{{job.user.pic_url}}" class="img-rounded">
                  <img ng-if="!job.user.profile_pic && !job.user.pic_url" src="images/user.jpg" class="img-rounded">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <h4><span ng-bind="job.user.name | limitTo:8"></span><span ng-if="job.user.name.length > 8">...</span></h4>
                  <p class="location" ng-init="location = job.location.city.name + ', '+job.location.country.name">
                  <span>{{location | limitTo:20}}</span><span ng-if="location.length > 20">...</span>
                  </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h4 class="text-right">{{job.created_at | date: 'MMM d, h:mm a'}}</h4>
              <h4 class="text-right status">{{vm.getStatus(job)}}</h4>
            </div>
            </div>


            <div class="myjob-bg">
              <img ng-if="job.images.length" ng-src="{{job.images[0].url}}" class="img-responsive" alt="job_image"/>
              <img ng-if="!job.images.length" ng-src="images/no-image.jpg" class="img-responsive" alt="job_image"/>
            </div>

           <h4><span ng-bind="job.title| limitTo : 40"></span><span ng-if="job.title.length > 40">...</span></h4>
            <p>{{job.category.title}}</p>

          </div>
        </div>
      </a>
    </div>
  </div>

  <nav ng-if="vm.total_pages >1 && vm.records && !pageLoader && (vm.jobs | filter : vm.filter).length" class="text-center">
    <ul class="pagination">
      <li class="page-item" ng-if = "vm.disabled = (1 == vm.page_no)? 'disabled' : 'true'" ng-class="vm.disabled">
        <a class="page-link" ng-click="vm.navigate(vm.page_no - 1, vm.current_time, vm.disabled)">Previous</a>
      </li>
      <li ng-show = "vm.toggle"  class="page-item" ng-class="vm.active" ng-repeat="page in vm.pages track by $index" ng-if="vm.active = ($index + 1 == vm.page_no)? 'active': 'true'" ><a class="page-link" ng-click="vm.getJobs($index + 1, vm.current_time)">{{$index + 1}}</a></li>
      <li ng-show = "!vm.toggle"  class="page-item" ng-class="vm.active" ng-repeat="page in vm.pages track by $index" ng-if="vm.active = ($index + 1 == vm.page_no)? 'active': 'true'" ><a class="page-link" ng-click="vm.getallJob($index + 1, vm.current_time)">{{$index + 1}}</a></li>
      <li class="page-item" ng-if = "vm.disable = (vm.page_no == vm.total_pages)? 'disabled' : 'true'" ng-class="vm.disable">
        <a class="page-link"  ng-click="vm.navigate(vm.page_no + 1, vm.current_time, vm.disable)">Next</a>
      </li>
    </ul>
  </nav>

  <h3 class="nojobMessgae" ng-if="(!vm.jobs.length && !pageLoader) || (!(vm.jobs | filter : vm.filter).length && !pageLoader)"> Jobs are not available</h3>
  </div>

</div>
</div>
