<page-loader ng-if="pageLoader"></page-loader>

<div  class="jobList">
<div class="wrapper-content">

  <div class="filterDiv col-md-3 animated" ng-class="vm.filterContainer" ng-if="vm.showfilter && !pageLoader">
    <h3><span>STATUS</span> <i class="fa fa-angle-down"></i></h3>

    <div class="filterMode">
    <div class='form-group'>
      <input class=form-control" type="radio" name="filter" ng-model="vm.filter" value=""> All
    </div>
      <div class='form-group'>
        <input class=form-control" type="radio" name="filter" ng-model="vm.filter" value="Rejected by Admin"> Rejected by Admin
      </div>
      <div class="form-group">
        <input class=form-control" type="radio" name="filter" ng-model="vm.filter" value="In Process"> In Process
      </div>

      <div class="form-group">
        <input class=form-control" type="radio" name="filter" ng-model="vm.filter" value="Awarded"> Awarded
      </div>
      <div class="form-group">
        <input class=form-control" type="radio" name="filter" ng-model="vm.filter" value="Started"> Started
      </div>
      <div class="form-group">
        <input class=form-control" type="radio" name="filter" ng-model="vm.filter" value="Completed"> Completed
      </div>
      <div class="form-group">
        <input class=form-control" type="radio" name="filter" ng-model="vm.filter" value="In Dispute"> In Dispute
      </div>
      <div class="form-group">
        <input class=form-control" type="radio" name="filter" ng-model="vm.filter" value="Signed Off"> Signed Off
      </div>

    </div>

  </div>

  <div class="jobContent animated" ng-class="vm.jobContent">
  <div class="col-lg-12 wrapper white-bg page-heading"  ng-if="!pageLoader">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3 ng-if="vm.userData.user_type == 1"><a class="text-bold" ng-click="vm.addJob()"><i class="fa fa-plus" aria-hidden="true"></i> New Job</a></h3>
      <h3 ng-if="vm.userData.user_type == 2"><a class="text-bold">Jobs</a></h3>
    </div>
    <div class="col-lg-6">
      <h3>My Jobs</h3>
    </div>
  </div>


  <div ng-if="vm.jobs.length && !pageLoader" class="col-lg-12 myjobs-list">
    <div class="jobDiv col-md-6 col-sm-6 col-xs-6" ng-class="vm.jobsCard" ng-repeat="job in vm.jobs | filter : vm.filter">
      <a ng-click="vm.jobDetail(job.id)">
        <div class="list-holder">
          <div class="myjob-image">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <img ng-if="!vm.userData.pic_url" src="images/user.jpg" class="img-rounded">
                  <img ng-if="vm.userData.pic_url" ng-src="{{vm.userData.pic_url}}" class="img-rounded">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <h4>John Doe</h4>
                  <p>Dubai, UAE</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h4 class="text-right">{{job.created_at | date: 'MMM d, h:mm a'}}</h4>
              <h4 class="text-right status">{{vm.getStatus(job)}}</h4>
            </div>
            </div>


            <div class="myjob-bg">
              <img ng-if="job.images.length" ng-src="{{job.images[0].url}}" alt="job_image"/>
              <img ng-if="!job.images.length" ng-src="images/no-image.jpg" alt="job_image"/>
            </div>

            <h4>{{job.title}}</h4>
            <p>{{job.category.title}}</p>

          </div>
        </div>
      </a>
    </div>
  </div>

  <nav ng-if="vm.records && !pageLoader && (vm.jobs | filter : vm.filter).length" class="text-center">
    <ul class="pagination">
      <li class="page-item" ng-if = "vm.disabled = (1 == vm.page_no)? 'disabled' : 'true'" ng-class="vm.disabled">
        <a class="page-link" ng-click="vm.navigate(vm.page_no - 1, vm.current_time, vm.disabled)">Previous</a>
      </li>
      <li class="page-item" ng-class="vm.active" ng-repeat="page in vm.pages track by $index" ng-if="vm.active = ($index + 1 == vm.page_no)? 'active': 'true'" ><a class="page-link" ng-click="vm.getJobs($index + 1, vm.current_time)">{{$index + 1}}</a></li>
      <li class="page-item" ng-if = "vm.disable = (vm.page_no == vm.total_pages)? 'disabled' : 'true'" ng-class="vm.disable">
        <a class="page-link"  ng-click="vm.navigate(vm.page_no + 1, vm.current_time, vm.disable)">Next</a>
      </li>
    </ul>
  </nav>

  <h3 class="nojobMessgae" ng-if="(!vm.jobs.length && !pageLoader) || (!(vm.jobs | filter : vm.filter).length && !pageLoader)"> Jobs is not available</h3>
  </div>

</div>
</div>
