<div class="row">
  <div class="col-md-4 no-padding chat_section">
    <div class="chat_sect">
      <img src="images/user.jpg" alt="user" class="img-responsive">
      <div class="chat_text">
        <div class="chat_box">
          <strong>Maud Fitzgerald</strong><br>
          <span>Hey!!How are You</span>
        </div>
        <div class="chat_time">
          <span>01.36AM</span>
        </div>
      </div>
    </div>
    <div class="chat_sect">
      <img src="images/user.jpg" alt="user" class="img-responsive">
      <div class="chat_text">
        <div class="chat_box">
          <strong>Maud Fitzgerald</strong><br>
          <span>Hey!!How are You</span>
        </div>
        <div class="chat_time">
          <span>01.36AM</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 no-padding">
    <div class="chat-discussion">
      <div class="chat-message left">
        <img class="message-avatar" src="images/user.jpg" alt="user" class="img-responsive">
        <div class="message message_sect">
          <div class="arrow_box"></div>
                                            <span class="message-content">
											                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                            </span>
        </div>
        <div class="chating_box">
          <span class="pull-left"> Yesterday at 11:09PM </span>
        </div>
      </div>
      <div class="chat-message right chatting_section">
        <img class="message-avatar" src="images/user.jpg" alt="user" class="img-responsive">
        <div class="message message_section pull-right">
          <div class="right_arrow_box"></div>
          <div class="message-content">
            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.</p>
          </div>
        </div>
        <div class="chating_box12">
          <span class=""> Yesterday at 11:09PM </span>
        </div>
      </div>
      <div class="new_message_box text-center">
        <strong>New Message</strong>
      </div>
      <div class="chat-message left">
        <img class="message-avatar" src="images/user.jpg" alt="user" class="img-responsive">
        <div class="message message_sect">
          <div class="arrow_box"></div>
          <div class="message-content">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
        <div class="chating_box">
          <span class="pull-left"> Yesterday at 11:09PM </span>
        </div>
      </div>
      <div class="chat-message right chatting_section">
        <img class="message-avatar" src="images/user.jpg" alt="user" class="img-responsive">
        <div class="message message_section pull-right">
          <div class="right_arrow_box"></div>
                                                <span class="message-content">
    											<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.</p>
                                                </span>
        </div>
        <div class="chating_box12 pull-right">
          <span class=""> Yesterday at 11:09PM </span>
        </div>
      </div>
      <div class="chat-message-form form_chat">
        <div class="form-group ">
          <textarea class="form-control message-input message-form_input" name="message" placeholder="Type here...."></textarea>
          <button type="button" class="btn btn-w-m btn-success message_btn">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
