
<div class="Detail" id="locationBox">
  <p class="location-message" ng-if="message">{{message}}</p>
  <div class="categoryback">
    <a ng-if="!job.id" ng-click="navigate(3)"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    <h3 class="text-center">Job Detail</h3>
  </div>
  <div class="row border-top">
    <page-loader ng-if="jobLoader" class="jobspinner"></page-loader>
    <form ng-submit="createJob()" novalidate name="jobInfo">
      <div class="col-lg-6 border-right">
        <div id="map_canvas" class="location">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
          </ui-gmap-google-map>
          <!--<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" events="map.events"></ui-gmap-google-map>-->

        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title *" required name="title" ng-model="job.title">
        </div>
        <div class="form-group">
          <textarea rows="5" class="form-control" placeholder="Description *" required name="description" ng-model="job.description"></textarea>
        </div>
        <div class="form-group">
          <input type="number" required ng-min="1" ng-maxlength="5" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control" placeholder="Budget *" name="Budget" ng-model="job.budget">

          <div ng-messages="jobInfo.Budget.$error">
            <p class="valid" ng-message="min">Budget should not be less than from 1</p>
            <p class="valid" ng-message="maxlength">Budget should not be exceed from 5 digits</p>
          </div>
        </div>

        <h3 class="parts">Job Images:</h3>

        <div class="pictureBox">
          <p class="oversize">{{overSize}}</p>
          <div class="pixContainer">
            <div class="jobPix" ng-repeat="image in jobImages"><img ng-src="{{image.url}}" class="img img-responsive" alt="job_pix"> <i class="fa fa-times" ng-click="deleteJobPhoto(image ,$index)"></i></div>
          </div>

          <div class="uploadPic"><label class="btn-bs-file btn btn-lg" ng-if="jobImages.length < 5 || (job.id && jobImages.length < 5)">
            <input type="file" name="pic" class="form-control" placeholder="Photo" base-sixty-four-input accept="image/*" ng-model="job.photo">
          </label>
          </div>
        </div>
        <div ng-if="partsfield">
          <p class="text-danger part_validation" ng-if="partValidation">{{partValidation}}</p>
          <h3 class="parts">Parts:</h3>
          <div class="partNoBox"  ng-if="partsImage.length" ng-repeat="part in partsImage track by $index">
            <div class="partField">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Part No." name="partNo" ng-model="part.part_number" ng-disabled="job.id" ng-readonly="job.id">
              </div>
              <a class="partInc" ng-click="decPart($index)" ng-if="!job.id">
                <i class="fa fa-minus"></i>
              </a>
            </div>
            <div class="pictureBox">
            <p class="oversize" ng-if= "$index== partialpartIndex && overPartimgSize">{{overPartimgSize}}</p>
              <div class="pixContainer">
                <div class="jobPix" ng-repeat="partImg in part.image_ids">
                  <img ng-src="{{partImg.url}}" class="img img-responsive" alt="part_pix"> <i class="fa fa-times" ng-if="!job.id" ng-click="deletePartarrayPhoto(partImg ,$index)"></i></div>
              </div>

              <div ng-show="!job.id" class="uploadPic"><label class="btn-bs-file btn btn-lg" ng-if="part.image_ids.length < 5">
              <input type="file" name="pic" class="form-control" placeholder="Photo" base-sixty-four-input accept="image/*" ng-model="job.part" ng-click="insertImage($index)">
              </label>
              </div>
            </div>
          </div>
          <div class="partNoBox" >
            <div class="partField">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Part No." name="partNo" ng-model="job.part_no" ng-disabled="job.id" ng-readonly="job.id">
              </div>
              <a ng-show="!job.id" class="partInc" ng-click="incPart(job.part_no)" ng-if="partsImage.length < 4" >
                <i class="fa fa-plus"></i>
              </a>
            </div>
            <div class="pictureBox">
              <p class="oversize">{{overPartSize}}</p>
              <div class="pixContainer">
                <div class="jobPix" ng-repeat="img in part_Img"><img ng-src="{{img.url}}" class="img img-responsive" alt="part_pix"> <i class="fa fa-times" ng-if="!job.id" ng-click="deletePartPhoto(img ,$index)"></i></div>
              </div>

              <div ng-show="!job.id" class="uploadPic"><label class="btn-bs-file btn btn-lg" ng-if="part_Img.length < 5">
                <input type="file" name="pic" class="form-control" placeholder="Photo" base-sixty-four-input accept="image/*" ng-model="job.partImg">
              </label>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-6">
        <h3>Where:</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Street Address" ng-model="job.address">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Area" ng-model="job.area">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" disabled  placeholder="City" ng-model="job.city">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" disabled placeholder="Country" ng-model="job.country">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" disabled placeholder="Phone" ng-model="job.phone">
        </div>
        <div class="form-group">
          <textarea rows="5" class="form-control" placeholder="Additional info "  name="additionalInfo" ng-model="job.additional_info"></textarea>
        </div>

        <h3>When:</h3>

        <div class="tabs">
          <job-type-tab></job-type-tab>
        </div>

        <button ng-if="!job.id" type="submit" ng-disabled="jobInfo.$invalid || jobLoader" class="btn btn-block btn-primary jobSubmitBtn">Done</button>
        <button ng-if="job.id" type="button" ng-disabled="jobInfo.$invalid || jobLoader" ng-click="updateJob()" class="btn btn-block btn-primary jobSubmitBtn">Done</button>
      </div>
    </form>
  </div>
</div>
