
<div class="Detail" id="locationBox">
  <p class="location-message" ng-if="message">{{message}}</p>
  <div class="categoryback">
    <a ng-if="!job.id" ng-click="navigate(3)"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    <h3 class="text-center">Job Detail</h3>
  </div>
  <div class="row border-top">
    <page-loader ng-if="jobLoader" ng-class="jobspinner"></page-loader>
    <form ng-submit="createJob()" novalidate name="jobInfo">
      <div class="col-lg-6 border-right">
        <div id="map_canvas" class="location">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
          </ui-gmap-google-map>
          <!--<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" events="map.events"></ui-gmap-google-map>-->

        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title *" required name="title" ng-model="job.title">
        </div>
        <div class="form-group">
          <textarea rows="5" class="form-control" placeholder="Description *" required name="description" ng-model="job.description"></textarea>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Budget *" required name="Budget" ng-model="job.budget">
        </div>
        <div class="pictureBox">
          <div class="pixContainer">
          <div class="jobPix" ng-repeat="image in jobImages"><img ng-src="{{image.url}}" class="img img-responsive" alt="job_pix"> <i class="fa fa-times" ng-click="deleteJobPhoto(image ,$index)"></i></div>
          </div>

          <div class="uploadPic"><label class="btn-bs-file btn btn-lg" ng-if="jobImages.length < 5 || job.id">
          <input type="file" name="pic" class="form-control" placeholder="Photo" base-sixty-four-input multiple accept="image/*" ng-model="job.photo">
          </label>
          </div>
        </div>

      </div>
    <div class="col-lg-6">
      <h3>Where:</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Street Address" ng-model="job.address">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Area" ng-model="job.area">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" disabled  placeholder="City" ng-model="job.city">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" disabled placeholder="Country" ng-model="job.country">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Phone" ng-model="job.phone">
        </div>
        <div class="form-group">
          <textarea rows="5" class="form-control" placeholder="Additional info "  name="additionalInfo" ng-model="job.additional_info"></textarea>
        </div>

        <h3>When:</h3>

      <div class="tabs">
      <job-type-tab></job-type-tab>
      </div>

        <button ng-if="!job.id" type="submit" ng-disabled="jobInfo.$invalid || jobLoader" class="btn btn-block btn-primary jobSubmitBtn">Done</button>
        <button ng-if="job.id" type="button" ng-disabled="jobInfo.$invalid || jobLoader" ng-click="updateJob()" class="btn btn-block btn-primary jobSubmitBtn">Done</button>
    </div>
    </form>
  </div>
</div>
