<div class="acceptBidform">

  <h3 class="text-center"> Payment Information</h3>
  <hr>

  <form ng-submit="acceptBid()" name="acceptform" novalidate>
  <div class="form-group">
    <input type="text" placeholder="Card Number (4242 4242 4242 4242)" name="card_number" required ng-model="card.number" cc-format cc-number cc-type="cardType" class="form-control">
    <p ng-if="acceptform.card_number.$error.required && acceptform.card_number.$dirty" class="bg-danger text-danger valid"> Card number is required. </p>
  </div>
    <div class="form-group">
      <input type="text" required ng-model="card.cvc" cc-cvc placeholder="Card CVC" class="form-control" name="cvc"/>
      <p ng-if="acceptform.cvc.$error.required && acceptform.cvc.$dirty" class="bg-danger text-danger valid"> Card cvc is required. </p>

    </div>
    <div class="form-group cardYear" cc-exp>
      <input ng-model="card.exp_month" ng-maxlength="2" name="exp_month" placeholder="Expire Month" cc-exp-month required class="form-control" />
      <input ng-model="card.exp_year" ng-maxlength="2" name="exp_year" placeholder="Expire Year" cc-exp-year required class="form-control" />
    </div>
    <p ng-if="acceptform.exp_year.$error.required && acceptform.exp_year.$dirty" class="bg-danger text-danger">EXP year is required. </p>
    <p ng-if="acceptform.exp_month.$error.required && acceptform.exp_year.$dirty" class="bg-danger text-danger">EXP Month is required. </p>
    <p ng-show="acceptform.$error.ccExp && acceptform.exp_month.$dirty && acceptform.exp_year.$dirty" class="bg-danger text-danger"> EXP month EXP year is invalid. </p>
    <div class="text-right">
  <button type="submit" ng-disabled="acceptform.$invalid" class="btn btn-primary">Pay AED {{bidDetail.budget}}</button>
    </div>
  </form>

</div>
