<div class="profile-update">
  <p class="location-message" ng-if="message">{{message}}</p>
  <h3 class="text-center">Update Profile</h3>
  <hr>

  <page-loader ng-if="pageLoader" class="dialogSpinner"></page-loader>
  <div class="row">
  <form ng-submit="updateProfile()" name="updateForm" novalidate>

    <div class="profile-pic">
      <label class="btn-bs-file btn btn-lg">
        <input type="file" name="pic" class="form-control" placeholder="Photo" base-sixty-four-input accept="image/*" ng-model="photo">
      </label>
      <img ng-if="!picture" src="images/no-image.jpg" alt="pic" class="img-responsive" />
      <img ng-if="picture" ng-src="{{picture}}" alt="pic" class="img-responsive" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="name" required ng-model="obj.name" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="phone" required ng-model="obj.phone" placeholder="Phone" readonly>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="email" required ng-model="obj.email" placeholder="Email" readonly>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="about" rows="5" ng-model="obj.about" placeholder="About"></textarea>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="location" ng-model="address" placeholder="Location" readonly>
    </div>
    <div id="map_canvas" class="location">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>

    </div>
    <div class="text-right profilebtn">
      <button type="submit" ng-disabled="updateForm.$invalid || pageLoader" class="btn btn-primary">Update</button>
    </div>
  </form>
    </div>
</div>
