<div class="biddingBox">
  <h3 class="text-center">{{reviewTitle}}</h3>
  <hr>

  <page-loader ng-if="pageLoader" class="dialogSpinner"></page-loader>

  <div class="row">
    <form name="reviewForm" ng-submit="createReview()" novalidate>
      <div class="form-group reviewRate">
        <input-stars max="5" ng-model="review.stars"></input-stars>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="description" rows="5" ng-model="review.rating" placeholder="Write your review"></textarea>
      </div>

        <button ng-if="!btn" class="btn btn-primary btn-block" type="submit" ng-disabled="reviewForm.$invalid">Submit</button>
    </form>
    <button ng-if="btn" class="btn btn-primary btn-block" type="button" ng-disabled="!review.stars" ng-click="updateReview()">Update</button>
  </div>
</div>
