<div class="newsletterPage">

  <div class="bgImage">
    <div class="newsDiv">
      <h1>Subscribe to our Newsletter</h1>

      <div class="col-lg-12 col-md-6 col-sm-6 col-xs-10 newsForm">

        <form ng-submit="vm.subscribe()" novalidate name="subscribeForm">

          <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
              <div class="form-group">
                <input type="text" required class="form-control" name="email" ng-model="vm.user.email" aria-describedby="emailHelp" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Enter email here *...">
                <p class="valid" ng-if="subscribeForm.email.$dirty && subscribeForm.email.$error.pattern">Please enter valid email</p>
                <p class="valid" ng-if="vm.message">{{vm.message}}</p>
              </div>
            </div>

          </div>

          <div class="col-lg-4 col-lg-offset-4">
            <button type="submit" ng-disabled="subscribeForm.$invalid || vm.loading" class="btn btn-primary btn-lg btn-block">Subscribe</button> <img ng-if="vm.loading" class="spinner_two" ng-src="images/spinner_two.gif" alt="loading" />
          </div>

        </form>

      </div>


    </div>

  </div>
</div>
